<div class="row">
    <div class="twelve columns box">
        <h3>Actions Page</h3>

        <table>
            <tr>
                <th>Type</th>
                <th>Price</th>
                <th>When</th>
            </tr>
            {{#each actions}}
                <tr>
                    <td>{{type}}</td>
                    <td>{{cost}}</td>
                    <td>{{timestamp}}</td>
                </tr>
            {{/each}}
            {{#unless actions}}
                <tr>
                    <td colspan="3"><p>No actions recorded yet</p></td>
                </tr>
            {{/unless}}
        </table>
    </div>
</div>