
<div class="row">
    <div class="twelve columns box">
        <h3>Bill with settings</h3>
        <div class="">
            Select the call or sms radio button. Update the appropriate total and the overall total when the ADD
            button in pressed.
            <i>Calls costs should now be configurable using the settings section.</i>
        </div>
        <div class="">
            <i>If the total cost exceed the warning level show the total cost in orange, if it exceeds the
                critical level show it in red and prevent any new costs from being added. The warning and
                critical level should both be configurable now.</i>
        </div>

        <hr>

        <div class="row">

            <div class="six columns">
                <form action="/action" method="post">
                    <h5>Bill type</h5>
                    <label class="">
                        <input type="radio" name="billItemTypeWithSettings" value="call" class="billItemTypeWithSettings">
                        <span class="label-body">Call</span>
                    </label>
                    <label class="">
                        <input type="radio" name="billItemTypeWithSettings" value="sms" class="billItemTypeWithSettings">
                        <span class="label-body">SMS</span>
                    </label>
                    <button class="button-primary" type="submit" name="button">Add</button>
                </form>

                <h5>Totals</h5>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="/actions/call">Call total</a>
                            </td>
                            <td>R<span class="callTotalSettings">{{totals.callTotal}}</span> </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/actions/sms">SMS total</a>
                            </td>
                            <td>R<span class="smsTotalSettings">{{totals.smsTotal}}</span> </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/actions">Total</a>
                            </td>
                            <td> R<span class="totalSettings {{color}}">{{totals.grandTotal}}</span> </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="six columns">
                <form action="/settings" method="POST">
                    <h5>Settings</h5>
                    <label for="exampleEmailInput">Call cost</label>
                    <input class="u-full-width callCostSetting" type="number" step=".01" value="{{setting.callCost}}" name="callCost" placeholder="eg. 2.55">
                    <label for="exampleEmailInput">SMS cost</label>
                    <input class="u-full-width smsCostSetting" type="number" step=".01" value="{{setting.smsCost}}" name="smsCost" placeholder="eg. 0.65">
                    <label for="">Warning level</label>
                    <input class="u-full-width warningLevelSetting " type="number" step=".01" value="{{setting.warningLevel}}" name="warningLevel" placeholder="eg. 30.00">
                    <label for="">Critical level</label>
                    <input class="u-full-width criticalLevelSetting" type="number" step=".01" value="{{setting.criticalLevel}}" name="criticalLevel" placeholder="eg. 65.00">
                    <button class="button-primary updateSettings" type="submit" name="button">Update settings</button>
                </form>
            </div>
        </div>
    </div>
</div>
